/*.login-header {
  margin-left: 1em;
  margin-bottom: 1em;
};*/
/* General styling apply all */
.ga-font {
  font-family: 'Megrim', cursive;
  font-weight: bolder;
  font-size: 2em;
  color: blue;
  background-color: #F5FFFA;
}
#ga-color {
  color: #DA70D6;
}
/*index styling*/
#topic-index {
  margin-left: 1em;
  margin-right: 1em;
  width: auto;
  /*background-color:blue;*/
  background-color: #FAEBD7;
}

#indiv-topics {
  margin-left: 1em;
}

body {
  background-color: pink;
}
/* classes for new users */
.input-style {
  width: 20%;
  margin: 0 auto;
}

.signup-btn-style {
  text-align: center;
  margin-left: 45em;
  margin-top: 2em;
}

.signup-h1-style {
  text-align:center;
}

.signup-label-style {
  margin: 0 auto;
  margin-bottom: 1em;
  margin-top: 1em;
}

.signup-div-style {
  margin: 0 auto;
  text-align: center;
}

/* classes for user login */
.login-header {
  margin-left: 2em;
  margin-bottom: 0.7em;
}

.login-label {
  margin-left: 2em;
}

.login-div {
  margin-left: 5em;
}
/*classes for show index*/
/*.show-topic {
  margin-right: 2em;
  width: 60%;
  background-color: black;
  font-size: 50px;
}*/
.show-div {
  margin-left: 5em;
  background-color: #FAEBD7;
}

.comment-user {
  margin-left: 6em;
}

.comment-div {
  background-color: #F5FFFA;
}
