/*.login-header {
  margin-left: 1em;
  margin-bottom: 1em;
};*/

#topic-index {
  margin-left: 1em;
  /*background-color:blue;*/
  background-color: #FAEBD7;
}

#indiv-topics {
  margin-left: 1em;
}

body {
  background-color: pink;
}
/* classes for new users */
.input-style {
  width: 20%;
  margin: 0 auto;
}

.signup-btn-style {
  text-align: center;
  margin-left: 45em;
  margin-top: 2em;
}

.signup-h1-style {
  text-align:center;
}

.signup-label-style {
  margin: 0 auto;
  margin-bottom: 1em;
  margin-top: 1em;
}

.signup-div-style {
  margin: 0 auto;
  text-align: center;
}

/* classes for user login */
.login-header {
  margin-left: 2em;
  margin-bottom: 0.7em;
}

.login-label {
  margin-left: 2em;
}

.login-div {
  margin-left: 5em;
}
