<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Welcome to our site!</title>
</head>
<body>
  <h1 class="signup-h1-style">Sign up for our site!</h1>
  <form action="/users/new" method="post">
    <div class="form-group signup-div-style">
      <label class="signup-label-style" for="exampleInputEmail1">Username</label>
      <input type="text" name="user[username]" class="form-control input-style" id="exampleInputEmail1" placeholder="username">
    </div>
    <div class="form-group signup-div-style">
      <label class="signup-label-style" for="exampleInputPassword1">Password</label>
      <input type="password" name="user[password]" class="form-control input-style" id="exampleInputPassword1" placeholder="password">
    </div>
    <!-- <div class="form-group">
      <label for="exampleInputFile">File input</label>
      <input type="file" id="exampleInputFile">
      <p class="help-block">Example block-level help text here.</p>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"> Check me out
      </label>
    </div> -->
    <button type="submit" class="btn btn-default signup-btn-style">Sign up!</button>
  </form>

  <!-- <form action="/users" method="post"> -->
    <!-- <input type="text" -->
           <!-- name="user[username]" -->
           <!-- placeholder="username"> -->
    <!-- <input type="password" -->
           <!-- name="user[password]" -->
           <!-- placeholder="password"> -->
    <!-- <input type="submit" value="Sign up!"> -->
  </form>
</body>
</html>
