<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All Topics</title>
  </head>
  <body>
    <% topics.forEach(function (topic, i) { %>
      <div class = "topic">
        <h3>
          <a href ="/topics/<%= topic._id %>"<%= topic.title %></a>, by <%= topic.author %>.</h3>
      </div>
    <% }) %>
  </body>
</html>
