<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Create a new topic!</title>
</head>
<body>
  <h1>Create a new topic!</h1>
  <form action="/topics" method="post">
    <input type="text"
           name="topic[title]"
           placeholder="Title">
    <input type="text"
           name="topic[author]"
           placeholder="Author">
    <input type="text"
           name="topic[body]"
           placeholder="Body">
    <input type="text"
           name="topic[comments][content]"
           placeholder="Comments">
    <input type="submit" value="Post Topic!">
  </form>
</body>
</html>
