<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show All</title>
  </head>
  <body>
    <div class="topic">
      <h3><%= topic.title %></h3>
      <p><%= topic.body %></p>
      <h4><%= topic.comments %></h4>
    </div>
  </body>
</html>
